<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <div class="panel panel-default">

                <div class="panel-heading c-list">
                    <span class="title">Users</span>
                    <ul class="pull-right c-controls">
                        <li><a href ng-click="userEditModal()" title="Add Contact"><i class="glyphicon glyphicon-plus"></i></a></li>
                        <li><a href class="hide-search" title="Toggle Search" ng-click="toggleSearch()"><i class="fa fa-ellipsis-v"></i></a></li>
                    </ul>
                </div>

                <div class="row" ng-if="searchOn">
                    <div class="col-xs-12">
                        <div class="c-search">
                            <input type="text" class="form-control" ng-model="search.placeOfBirth" placeholder="Search by Country">
                        </div>
                    </div>
                </div>

                <ul class="list-group" id="contact-list">
                    <li class="list-group-item" ng-repeat="user in items | filter:search">
                        <div class="col-xs-12 col-sm-3">
                            <a href ng-click="userEditModal(user)">
                                <img ng-if="user.avatar" ng-src="{{user.avatar}}" alt="Scott Stevens" class="img-responsive img-circle" />
                                <img ng-if="!user.avatar" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Scott Stevens" class="img-responsive img-circle" />
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">{{user.firstName}} {{user.lastName}}</span><br/>
                            {{user.placeOfBirth}}
                            <a href ng-click="deleteUser(user.id)">
                              <span class="glyphicon glyphicon-trash text-muted c-info"></span>
                            </a>
                            <a href ng-click="userEditModal(user)">
                              <span class="fa fa-pencil text-muted c-info"></span>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>

            </div>
        </div>
    </div>

</div>
